body {
  width: 100%;
  height: max-content;
  margin: auto 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #FFFFFF;
  background-image: url(https://static6.depositphotos.com/1003229/609/v/450/depositphotos_6096843-stock-illustration-circuit-board-vector-background.jpg);
  background-size: cover;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

#container_uno {
  width: 90%;
  margin: auto;
  height: inherit;
  min-height: 1000px;
  background-color: rgba(38, 44, 135, 0.65); }

/*----- MIXIN PARA CONTAINERS COLUMNS--- */
/*------ ZONA TOP ----- */
#zona_top {
  height: 15%;
  display: flex; }

#top_logo {
  width: 15%;
  height: auto;
  display: flex;
  float: left;
  align-items: center; }
  #top_logo img {
    height: auto;
    max-width: 95%; }

#top_libre {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  justify-content: center; }

#top_libre_flash {
  width: 100%;
  height: 85%;
  overflow: hidden;
  text-align: center; }
  #top_libre_flash img {
    margin-top: 2%;
    padding: 0 0 1% 0;
    height: 17vh;
    max-width: auto; }

.span_banner {
  width: 70vw; }

.carousel-inner img {
  margin: auto; }

/*
        @keyframes slide {
            0%  {left: 0;}
            10% {left: 0;}
            20% {left: -100%;}
            30% {left: -100%;}
            40% {left: -200%;}
            50% {left: -200%;}
            60% {left: -300%;}
            70% {left: -300%;}
            80% {left: -400%;}
            90% {left: -400%;}
            100% {left: 0;}
        }

        #slider {
            display: inline-flex;
            position: relative;
            animation: slide 10s infinite;
            animation-play-state: running;
        
            &:hover {
                animation-play-state: paused;
            }
        }
        */
#top_libre_nav {
  width: 100%;
  height: 15%;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke; }

.lista_simple {
  margin: 10px 0 0 0; }
  .lista_simple a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: inherit; }

.lista_inline {
  display: inline-block;
  text-align: center;
  width: 24%; }

/*------ ZONA CENTRAL ----- */
#zona_mid {
  height: 85%;
  display: flex;
  clear: both; }

/*--  CENTRAL - IZQUIERDA --*/
#main_left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  float: left; }

.menu_uno {
  height: 35px;
  text-align: center;
  margin: 40px 0 10px 0;
  transition: all 1s;
  align-items: center;
  display: flex;
  justify-content: center; }
  .menu_uno:hover {
    transform: translate(25px, 0);
    background-color: #262c87;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke; }
  .menu_uno a:hover {
    color: inherit;
    text-decoration: none; }

/*-----  CENTRAL - PRINCIPAL ------*/
#main_right {
  width: 85%;
  height: 100%;
  float: right;
  overflow-y: hidden; }
  #main_right table {
    width: 85%;
    margin: auto;
    padding-top: 30px; }
  #main_right th {
    padding: 20px;
    margin: auto;
    letter-spacing: 3px; }

/*--  SITE INDEX --*/
#contenidos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.grupo_index {
  margin: 10px;
  width: 85%;
  height: 25%; }

/*-- SITE CON TABLAS -- */
.td_team {
  text-align: center;
  padding: 15px 0 0 0; }
  .td_team img {
    transition: all 1s; }
    .td_team img:hover {
      transform: scale(1.25); }

.td_pc {
  text-align: center; }
  .td_pc img {
    margin: auto;
    align-content: center;
    transition: all 1s; }
    .td_pc img:hover {
      transform: scale(1.25); }

.td_txt {
  width: 75%;
  height: 80px;
  font-size: 90%;
  text-align: justify;
  border-bottom: 1px solid whitesmoke; }

.td_txt_f {
  width: 70%;
  height: 80px;
  font-size: 90%;
  text-align: justify; }

.td_label {
  padding: 0 0 0 10px; }

/* grilla site videojuegos */
#grilla_games {
  display: grid;
  width: 75%;
  margin: auto;
  padding-top: 10px;
  grid-template-columns: 35% 28% 20% 15%;
  grid-template-rows: repeat 4, 25%;
  column-gap: 5px;
  row-gap: 5px; }
  #grilla_games .celda_cab {
    font-weight: bold;
    text-align: center; }
  #grilla_games .celda {
    display: flex;
    border-top: 1px solid whitesmoke;
    padding-top: 0.75rem; }
  #grilla_games .celda p {
    margin: auto;
    text-align: center; }

/*--  SITE ensamble --*/
.row {
  margin: 0; }

/*------ ZONA FINAL ----- */
#zona_bot {
  height: max-content;
  position: sticky;
  bottom: 0;
  background-color: rgba(38, 44, 135, 0.55);
  overflow: hidden; }
  #zona_bot .links {
    display: flex;
    flex-direction: row; }
  #zona_bot .redsocial {
    margin: auto; }
  #zona_bot img {
    height: 40px;
    margin-right: 1rem; }

/* ---------------- RESPONSIVE MENU ---------------- */
/*---------------------------------------------------*/
@media all and (max-width: 600px) {
  body {
    height: max-content; }
  #main_left .menu_uno {
    display: none; }
  #top_logo {
    flex-direction: column;
    width: 100%;
    align-items: center; }
    #top_logo .logo__link {
      padding: 0 0 10px 0; }
      #top_logo .logo__link img {
        margin: 0;
        height: 180px;
        width: 220px; }
  #top_libre {
    display: none; }
  /****** INDEX *****/
  #main_right #contenidos .grupo_index {
    display: flex;
    flex-direction: column; }
    #main_right #contenidos .grupo_index .card-body {
      font-size: 0.9rem; }
  /****** CONTACTO *****/
  #main_right .td_label {
    font-size: 0.8rem; }
  #main_right input {
    font-size: 0.8rem; }
  #main_right select {
    font-size: 0.8rem; }
  #main_right .btn {
    font-size: 0.8rem; }
  #main_right #sugerencia {
    width: 150px;
    height: 50px;
    font-size: 0.8rem; }
  /****** VIDEOJUEGOS *****/
  #grilla_games {
    width: 90vw;
    font-size: 0.8rem;
    grid-template-columns: 25% 28% 25% 20%;
    grid-template-rows: repeat 4, 25%; } }

@media all and (max-width: 850px) {
  #zona_bot span {
    display: none; } }

@media all and (min-width: 601px) {
  .dropdown {
    display: none; } }
